@inherits AmadeusBlazor.Layouts.BiographyLayoutComponent

@using Radzen
@using Radzen.Blazor
<RadzenDialog />
<RadzenNotification />

<RadzenHeader style="background-color: #080202">
</RadzenHeader>
<div class="row">
</div>
<RadzenBody @ref="body0">
</RadzenBody>
